
---
import Layout from '../components/Layout.astro'
import PostCard from '../components/PostCard.astro'
const posts = await Astro.glob('./posts/*.mdx')
posts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
---
<Layout>
  <h1>최근 글</h1>
  <section class="space-y-6 not-prose">
    {posts.map((p) => <PostCard post={p} />)}
  </section>
</Layout>
